@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.fade-in {
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}


body {
  background: #0b0f19;
  color: white;
  font-family: 'Inter', sans-serif;
}
